// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$amber: #FFC107;
$amber-lighten-5: #FFF8E1;
$pink: #E91E63;

%subtitle {
  text-align: left;
  color: $amber;
}
%section-body {
  background-color: #fff;
  padding: 1rem;
  margin-top: 2rem;
}

